<%- include("partials/header") %>

<h1>
	This is the show template!
</h1>

<P>
	<%= campground.name %>
</P>

<img src="<%= campground.image %>">

<p>
	<%= campground.description %>
</p>

<%- include("partials/footer") %>